* {
    background-color: #424242;
}

knob {
    width: 100px;
    height: 100px;
    background-color: #292628;
}

knob .track {
    background-color: #f54e47;
}

label {
    color: #ffffff;
}

/* #picker_label {
    background-color: #292628;
}*/

#dropdown_label {
    color: #ffffff;
}
